[MASTER]
load-plugins = pylint.extensions.docparams

[BASIC]
accept-no-param-doc = no
accept-no-raise-doc = no
accept-no-return-doc = no
accept-no-yields-doc = no


# Parameter Documentation checker Options
# ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
# link - https://pylint.readthedocs.io/en/latest/_sources/technical_reference/extensions.rst.txt
# :accept-no-param-doc:
#   Whether to accept totally missing parameter documentation in the docstring of
#   a function that has parameters.
#   Default: ``yes``
# :accept-no-raise-doc:
#   Whether to accept totally missing raises documentation in the docstring of a
#   function that raises an exception.
#   Default: ``yes``
# :accept-no-return-doc:
#   Whether to accept totally missing return documentation in the docstring of a
#   function that returns a statement.
#   Default: ``yes``
# :accept-no-yields-doc:
#   Whether to accept totally missing yields documentation in the docstring of a
#   generator.
#   Default: ``yes``
